-<ion-view view-title="Kanplan Dashboard" can-swipe-back="false">
  <div class="bar bar-header bar-calm">
    <button class="button button-icon icon ion-navicon" ng-click="toggleLeft()"></button>
    <div class="h1 title">Kanplan Dashboard</div>
  </div>
  <ion-content>
    <ion-scroll direction="x" class="wide-as-needed">
      <div class="row">
        <div class="col">
          <div class="card card-cat">
            <div class="item item-divider">
              Open
            </div>
          </div>
          <div ng-controller="CreatedTaskCtrl">

                <!-- The title will be in the header of the card -->
                <div ng-repeat="task in tasks" class="card" style="padding: 15px">
                  <h3>{{task.title}}</h3>
                  {{task.description}}
                  {{task.compensation}}
                  <br>
                  <a class="button button-small button-block button-royal" ng-click="takeTask(task._id)">
                    Take
                  </a>
                </div>


          </div>
        </div>
        <div class="col">
          <div class="card card-cat">
            <div class="item item-divider">
              Assigned
            </div>
          </div>


          <div ng-controller="AssignedTaskCtrl">
            <!-- The title will be in the header of the card -->
            <div ng-repeat="task in tasks" class="card" style="padding: 15px">
              <h3>{{task.title}}</h3>
              {{task.description}}
              {{task.compensation}}
              <div class="button-bar">
                <a class="button button-block  input-button button-balanced"  ng-click="taskStart(task._id)" ng-disabled="this.started">Start</a>
                <a class="button button-block  input-button button-assertive" ng-click="taskStop(task._id)" ng-disabled="this.stopped">Stop</a>
                <a class="button button-block input-button button-royal" ng-click="taskComplete(taskId)">
                  Complete
                </a>
              </div>

            </div>
          </div>

        </div>
        <div class="col">
          <div class="card card-cat">
            <div class="item item-divider">
              Pending
            </div>
          </div>

          <div ng-controller="PendingTaskCtrl">
            <!-- The title will be in the header of the card -->
            <div ng-repeat="task in tasks" class="card" style="padding: 15px">
              <h3>{{task.title}}</h3>
              {{task.description}}
              {{task.compensation}}
              <br>
              <strong>(Pending Evaluation)</strong>
            </div>
          </div>



        </div>
        <div class="col">
          <div class="card card-cat">
            <div class="item item-divider">
              Closed
            </div>
          </div>

            <div ng-controller="ClosedTaskCtrl">
              <!-- The title will be in the header of the card -->
              <div ng-repeat="task in tasks" class="card" style="padding: 15px">
                <h3>{{task.title}}</h3>
                {{task.description}}
                {{task.compensation}}
                <div class="button-bar">
                  <a class="button button-small button-royal" ng-click="submitTask(taskId)">
                    Complete
                  </a>
                </div>

              </div>
            </div>
        </div>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
