<ion-view view-title = "Join Organization">
  <ion-header-bar class="bar-stable">
    <h1 class="title">KanPlan</h1>
  </ion-header-bar>
  <div class="bar bar-subheader bar-calm">
    <h1 class="title">Select an Organization</h1>
  </div>
  <div class = "content has-subheader">
    <div class = "list">
      <ion-list ng-repeat="org in orgs">
        <ion-radio ng-model="orgtojoin.id" ng-value="org._id">{{org.name}}</ion-radio>
      </ion-list>
      <div class="button-bar">
        <a class="button button-block icon-left ion-chevron-left input-button button-dark" href="#/dashboard">Back</a>
        <a class="button button-block button-balanced input-button" ng-click="joinOrg()">Join</a>
      </div>
    </div>
</ion-view><!---->
