<!--<ion-modal-view>
    <ion-header-bar> 
      <h1 class = "title">Modal Title</h1>
    </ion-header-bar>
  
    <ion-content>
        <button class = "button icon icon-left ion-ios-close-outline"
          ng-click = "closeModal()">Close Modal</button> 
    </ion-content>
  
  </ion-modal-view> -->

<ion-modal-view>
    <ion-header-bar> 
      <h1 class = "title">Create Task</h1>
    </ion-header-bar>
  <div class="list">
    <label class="item item-input item-stacked-label">
      <span class="input-label">Title</span>
      <input type = "text" ng-model = "title"  name = "title" placeholder = "Title"/>
    </label>

    <label class="item item-input item-stacked-label">
      <span class="input-label">Description</span>
      <input type = "text" ng-model = "description"  name = "description" placeholder = "Description"/>
    </label>

    <label class="item item-input item-stacked-label">
      <span class="input-label">Compensation</span>
      <input type = "number" ng-model = "compensation"  name = "compensation" placeholder = "Compensation"/>
    </label>

    <label class="item item-input item-stacked-label">
      <span class="input-label">Asignee</span>
      <select ng-model="asignee" ng-options="x for x in asignees">
      </select>
    </label>

    <div class="button-bar">
        <a class="button button-block button-balanced input-button" ng-click="createTask()">Sign Up</a>
        <a class="button button-block input-button button-assertive" ng-click="modal.hide()">Cancel</a>
    </div>

  </div>
</ion-modal-view> 