<ion-view view-title = "KanPlan Sign Up">
  <div class="bar bar-header bar-calm">
    <div class="h1 title">Kanplan Sign Up</div>
  </div>
  <ion-content>
 
 <div class = "content has-subheader">
   <div class = "list">
     <label class="item item-input item-stacked-label">
        <span class="input-label">Name: </span>
       <input type = "text" ng-model = "name"  name = "name" placeholder = "Name"/>
     </label>
     <label class="item item-input item-stacked-label">
        <span class="input-label">Email: </span>
       <input type = "email" ng-model = "email"  name = "email" placeholder = "Email"/>
     </label>
     <label class="item item-input item-stacked-label">
        <span class="input-label">Password: </span>
       <input type = "password" ng-model = "password"  name = "password" placeholder = "Password"/>
     </label>
     <div class="button-bar">
       <a class="button button-block icon-left ion-chevron-left input-button button-dark" href="#/login">Back</a>
      <a class="button button-block button-balanced input-button" ng-click="signUp(name,email,password)">Sign Up</a>
     </div>
  </div>
  </ion-content>
</ion-view>
