<div class="card">
    <!-- The title will be in the header of the card --> 
    <div class="item item-divider">
        <h1>{{task.title}}</h1>
    </div>

    <!-- the description is word wrapped -->
    <div class="item item-text-wrap">{{task.description}}</div>
   
    <p>${{task.compensation]}</p>

    <!-- Buttons to perform Delete and Submit operations -->
    <div class="item item-divider">
        <ion-option-button class="button button-small button-assertive" ng-click="deleteTask(item)">
        Delete
        </ion-option-button>

        <ion-option-button class="button button-small button-royal" ng-click="submitTask(item)">
        Submit
        </ion-option-button>

    </div>
    
</div>