.card-cat {
  margin-top: 50px;
  margin-bottom: 0!important;
}

.platform-ios .card{
  width: 280px;
}

.scroll-view{
  height: 100vh;
}

.input-button{
    margin: 12px;
}

.input-field{
    padding: 5px;
}

.titleHeader{
  font-family: 'Concert One', cursive;
  font-size: 20px !important;
}

.input-label{
  font-family: 'Montserrat', sans-serif;
}

#open{
  background-color: rgba(54, 234, 123, 0.53);
}

#assigned{
  border: solid black 1px;
  background-color: rgba(255, 189, 17, 0.72);
}

#pending{
  background-color: rgba(103, 121, 230, 0.78);
}

#closed{
  border: solid black 1px;
  background-color: rgba(239, 71, 58, 0.73);
}

.card{
   box-shadow: 5px 5px 11px rgba(90, 90, 90, 0.45);
}

